$header-bg: #3c3b63;
$header-text: #ffffff;
$header-shadow: rgba(0,0,0,0.2);

$search-bg: rgba(255, 255, 255, 0.15);
$search-icon: #ffffff;
$search-placeholder: rgba(255, 255, 255, 0.42);
$search-text: #ffffff;

$card-avatar-gb: #bdbdbd;
$card-avatar-initial: #fafafa;
$card-avatar-text: rgba(0, 0, 0, 0.87);
$card-avatar-date: rgba(0, 0, 0, 0.54);

$card-title: rgba(0, 0, 0, 0.87);
$card-description: rgba(0, 0, 0, 0.54);
$card-shadow: rgba(0,0,0,0.2);
