@import 'styles/colors.scss';

$initial-size: 25px;

.card-avatar {
  display: inline-flex;

  &-initial {
    height: $initial-size;
    width: $initial-size;
    border-radius: 50%;
    align-self: center;
    text-align: center;
    background-color: $card-avatar-bg;
    color: $card-avatar-initial;
    margin: 1rem;

    + span {
      margin: 1rem 1rem 1rem 0;
    }
  }

  &-source {
    color: $card-avatar-text;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  &-date {
    color: $card-avatar-date;
    font-size: 0.7em;
  }

}