@import 'styles/colors.scss';
@import 'styles/layout.scss';

@media only screen and (min-width: $sm) {
  .news-app-search {
    width: auto;
  }
}

.news-app-search {
  background-color: $search-bg;
  display: inline-block;
  line-height: 1rem;  
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-flex;
  width: auto;
  max-width: 250px;
  min-width: 0px;
  
  svg {
    fill: $search-icon;
    height: 1rem;
    width: 1rem;
    align-self: center;
  }

  .news-app-search-input {
    ::-webkit-input-placeholder,
    :-ms-input-placeholder,
    ::placeholder {
      color: $search-placeholder;
    }
    color: $search-text;
    margin: 0 5px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    width: inherit;
    flex-basis: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
