@import 'styles/colors.scss';
@import 'styles/layout.scss';
@import 'styles/scrollbar.scss';

$font-size: 1em;

@include scrollbars(.5rem, $header-bg);

html {
  height: 100%;
  overflow: hidden;
  > body {
    height: inherit;
    div#root {
      height: inherit;
    }
  }
}

.App {
  font-size: $font-size;
  margin: 0 auto;
  height: inherit;

  .App-Container{
    padding: 1rem;
  }

  .news-app-conent-wrapper {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .card-list-wrapper {
    height: calc(100% - 60px);
    top: 60px;
  }

  a, a:active, a:focus, a:visited {
    color: inherit;
    text-decoration: none;
  }
}
