@import 'styles/colors.scss';
@import 'styles/layout.scss';

$font-size: 1em;

.App {
  font-size: $font-size;
  margin: 0 auto;

  .App-Container{
    padding: 1rem;
  }

  .news-app-conent-wrapper {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .card-list-wrapper {
    margin-top: 60px;
  }

  a, a:active, a:focus, a:visited {
    color: inherit;
    text-decoration: none;
  }
}
